@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body {
    display: flex;
    flex-direction: column;
    background: lightgray;
    font-family: Poppins;
    height: 100%;
}

.wrapper {
    width: max-content;
    margin: 30px ;
    color: rgb(45, 43, 43);
}

h4 {
    font-weight: 10;
    font-size: 2.6em;
    margin: 30px;
}

p {
    font-size: 10em;
    margin: 30px;
}

#tens{
    font-size: 0.3em;
}

button {
    background: #040403;
    color: #fff;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    padding: 18px 10px;
    width: 120px;
    margin: 10px;
    outline: none;
    border-radius: 8px;
}

button:hover {
    background: gray;

}